html, body{
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #000;
}

body > header{
	height: 70px;
	background: #4E97D1;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body > footer{
	background: #4E97D1;
	color: #ffffff;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logotipo{
	display: flex;
	align-items: center;
}

.logotipo img{
	width: 40px;
	height: 40px;
}

.logotipo h1 span{
	color: #ffffff;
}

nav ul{
	display: flex;
	list-style-type: none;
	gap: 16px;
	margin: 0;
	padding: 0;
	align-items: center;
}

body > header nav a{
	color: #acacac;
	text-decoration: none;
	padding: 0 0 21px 0;
}

body > header nav a:hover{
	color: #fdfdfd;
	
	border-bottom: 3px solid #ffffff; 
}

body > header nav a.active{
	color: #05447e;
	border-bottom: 3px solid #05447e;
}

body > main{
	min-height: calc(100vh - 302px);
	padding: 16px;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

fieldset{
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 15px;
	margin: 0 0 30px 0;
}

legend {
	font-size: 1.2rem;
	padding: 0 10px 5px 10px;
}

input[type=text], input[type=email], input[type=password], select, textarea{
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 18px;
	margin: 3px 0 16px 0;
	border: none;
	background: #DDD;
	color: #000;
}

input[type=submit], input[type=reset]{
	border: 1px solid #4E97D1;
	color: #FFF;
	border-radius: 30px;
	padding: 10px 20px;
	background: #4E97D1;
	font-size: 1.1rem;
	margin: 16px 16px 16px 0;
	cursor: pointer; 
}

input[type=submit]:hover, input[type=reset]:hover{
	background: #4E97D1;
}

input[type=submit]:active, input[type=reset]:active{
	background: #6fa8dc;
}

button {
	background: #FFF;
	color: #000;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.modal {
	position: absolute;
	background: #000000e1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal main{
	width: 300px;
	background: #141414;
	border-radius: 15px;
	padding: 20px;
	color: #ffffff;
}

.modal main h2{
	margin: 0;
}

.modal main form{
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
}

.modal main form button{
	margin: 20px 0 0 0;
}

.card-song{
	width: 230px;
	position: relative;
	/* height: fit-content; */
	background: #0a0a0a;
	border-radius: 20px;
	padding: 16px;
	align-self: baseline;
}

.card-menu{
	display: none;
	position: absolute;
	background: #000000bd;
	backdrop-filter: blur(10px);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
	gap: 10px
}

.card-song header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-song header h2{
	margin: 0;
	font-size: 12px;
}

.card-song header h2 span{
	font-weight: normal;
	color: #7b7b7b;
}

.card-song header h1{
	margin: 0;
	font-size: 14px;
	font-weight: 500;
} 

.card-song main p{
	font-size: 32px;
	margin: 16px 0 2px 0;
} 

/*

.card-song main span{
	color: #7b7b7b;
}

.card-song main span:nth-child(2){
	background: #02bb2a;
	padding: 3px 16px;
	margin: 0 8px 0 0;
	border-radius: 12px;
	font-size: 14px;
	color: #FFF;
}

.card-song footer{
	display: flex;
	justify-content: space-between;
	margin: 26px 0 0 0;
}

.card-song footer div:nth-child(2){
	text-align: right;
}

.card-song footer div p{
	margin: 0;
	font-size: 18px;
}

.card-song footer div span{
	font-size: 14px;
	color: #7b7b7b;
}

*/